.Rproj.user
.Rhistory
.RData
.Ruserdata

old_code/
literature/
algorithm_dev_files/
desktop.ini

.html
.png

desktop.ini

#scripts/

test/

results/

# Ignore everything in notebooks/
notebooks/*

# But keep .qmd files
!notebooks/*.qmd